PORT=8787
DATABASE_URL=postgres://apollo:apollo@localhost:5432/apollo
JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7
CORS_ORIGIN=http://localhost:3000
MEDIA_ROOT=./media
MAX_UPLOAD_BYTES=524288000
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=changemechangeme
RECORD_LOCK_TIMEOUT_SECONDS=30
CHECKPOINT_EVERY_OPS=100
CHECKPOINT_EVERY_SECONDS=30
